




<div class="jumbotron " style="position:reletive; background-color: rgb(224, 206, 227); "> 
<!-- <nav class="navbar-expand-md  border-bottom mb-3">
    
        <ul class="nav justify-content-end" [class.hidden]="isNavbarHidden">

<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Home" routerLinkActive="text-dark">Home</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary"routerLink="/Portfolio" routerLinkActive="text-dark" >Portfolio</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Resume" routerLinkActive="text-dark">Resume</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Contact" routerLinkActive="text-dark">Contact</a>
</li>

<li class="nav-item"  >
    <a  href="//linkedin.com/in/komalshindesk" class=" "><img src="assets/linkedin.jpeg"  width="15%" height="70%" class="rounded-circle  me-2"></a>
</li>
</ul> 


</nav> -->




<div class="container">
      <div class="row">
 <div class="col-sm-4">
            <img src="assets/profile.png" alt="profile" width="400" height="400"  >
            
         </div>
        
        <div class="col-sm-4"> 
<div class="info-paragraph">
                <p>Hello,I am Komal Shinde</p>
                <h2>FrontEnd Developer</h2>
                <p>I have completed BE in 2018 at JSPM RSCOE Thatwade Pune.I have Total 4.9 Year Experience in Software Industry.Relevant 4 year Experience in FrontEnd Development using(Angular,Typescript,javascript,Html,CSS)..</p>

                 </div>    
       </div> 
       <div class="row">
<div class="col-sm-6">

    <div class="rectangle">
        <img src="assets/contact.jpg"  width="10%" height="70%" class="rounded-circle  me-2">8698431735
        <img src="assets/email.png"  width="10%" height="70%" class="rounded-circle  me-1">komal.shindesk07&#64;gmail.com
    
    </div>
</div>
<div class="col-sm-6">
    <button style="width: 200px;height: 50px; margin-bottom: 50px; background-color: rgb(140, 112, 165);" (click)="Downloadfile()" class="btn btn-primary mb-5 shadow border">Download Resume</button>
      
</div>

       </div>
       
</div> 
    </div> 
</div>