 <!-- <div class="card shadow text-center" style="max-width: 350px;min-width: 350px">

<div class="card-body">

    <h5 class="card-title">{{project.name}}</h5>
    <p class="card-text">{{project.summary}}</p>
    <button class="btn btn-primary" (click)="openProjectModal()">View More</button>
</div>
<div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let tag of project.tags">

            <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div>
        </div>
      
      
    </div>
</div>
</div>  -->






<div class="row">


    <div class="col-sm-6">
        <img src="/assets/thumb.jpg" alt="profile" width="300" height="300"  >
    </div>


    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        dhfhdh
        <!-- <li *ngFor="let skill of skills">
          
              <input type="checkbox" [checked]="skill.checked">
              {{ skill.name }}
          
          </li> -->
       
    </div>

   

   
    
</div>


<!-- <div class="text-end"> -->
  
<!-- <ul> -->
<!-- <li *ngFor="let skill of skills"> -->
  <!-- <label> -->
    <!-- <input type="checkbox" [checked]="skill.checked">
    {{ skill.name }} -->
  <!-- </label> -->
<!-- </li> -->
<!-- </ul> -->

<!-- <p>You have checked these skills:</p>
<ul>
<li *ngFor="let skill of checkedSkills()">
  {{ skill.name }}
</li>
</ul> -->

<!-- </div> -->