<div class="jumbotron " style="position:reletive; background-color: rgb(224, 206, 227); "> 

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="info-paragraph">
                <a href="mailto:your-komal.shindesk07@gmail.com">
                <img src="assets/email.png"  width="70" height="70" class="rounded-circle  me-1" style=" margin-left: 30px;
            margin-right: 20px;">
                </a>
            <span style="margin-left: 40px;">Email</span><br>
            <h5>komal.shindesk07</h5>
           
            </div>
          

        </div>
        <div class="col-sm-3">

            <div class="info-paragraph">
                <img src="assets/contact.jpg"  width="70" height="70" class="rounded-circle  me-1" style=" margin-left: 30px;
            margin-right: 20px;"><br>
            <!-- <div class="text-center">
Email
            </div> -->
            <span style="margin-left: 40px;">contact</span><br>
            <h5 style="margin-left: 40px;">8698431735</h5>
            </div>
        </div>
        <div class="col-sm-3">

            <div class="info-paragraph">
                <a  href="//linkedin.com/in/komalshindesk" >
                    <img src="assets/linkedin.jpeg"  width="70" height="70" class="rounded-circle  me-1" style=" margin-left: 30px;
            margin-right: 20px;">
           
           
         
                    <!-- <img src="assets/linkedin.jpeg"  width="40" height="40" class="rounded-circle flex-shrink-0 me-5"> -->
                  
                           </a>
                           <span style="margin-left: 40px;">Linkedin</span><br>
                           <h5 style="margin-left: 30px;">komalshindesk</h5>
            </div>
   
           
        </div>
        <div class="col-3">

            <img  src="/assets/lets.png" alt="profile" width="500" height="400"   >
                        </div>



    </div>
    <!-- <div class="text-center border mb-5 shadow-rounded">
        <h1>Contact</h1>
        <p>I can be reached at the following email:<b>komal.shindesk07&#64;gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platform:</p>
    </div> -->
    <!-- <div class="list-group shadow">
        <a  href="//linkedin.com/in/komalshindesk" class="list-group-item list-group-item-action d-flex gap-3 py-3 ">
       
 <img src="assets/linkedin.jpeg"  width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
 <h3 class="mb-0">Linkedin</h3>
        </a>
    </div> -->
</div>
</div>