<div  class="text-end" style="position:reletive; ">





<nav class="navbar-expand-md  border-bottom mb-0" style="background-color:rgb(174, 152, 181);">
    <div class="container">
        <ul class="nav justify-content-center">

<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Home" routerLinkActive="text-dark">Home</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary"routerLink="/Portfolio" routerLinkActive="text-dark" >Skills</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Resume" routerLinkActive="text-dark">Project</a>
</li>
<li class="nav-item">
    <a  class="nav-link text-secondary" routerLink="/Contact" routerLinkActive="text-dark">Contact</a>
</li>

</ul> 
</div>

</nav>

</div>