<div class="container">

    <div class="row">
      <!--About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">

                <h2>About Me</h2>

               
                <!-- <img src="../assets/a.jpeg" alt="browsr"> -->
 <!-- //<img src="../assets/a.jpeg" alt="profile picture" width="256" height="256" class="rounded-circle" > -->

 <img src="/assets/profilephoto.jpeg" alt="profile" width="256" height="256" class="rounded-circle">
            </div>
           <p>I am Komal Shinde From AhilyaNagar.I have completed BE in 2018 at JSPM RSCOE Thatwade Pune.I have Total 4.9 Year Experience in Software Industry.Relevant 4 year Experience in FrontEnd Development using(Angular,javascript,Html,CSS).</p>
           
        </div>

        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
             <!-- //  <img src="/assets/Imms.jpeg" alt="profile" width="256" height="256">  -->
              <h4>{{featuredProject.name}}</h4>
</div>

        </div>
       
</div>
</div>